* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079);
}
.container {
  max-width: 600px;
  background: #fff;
  border-radius: 5px;
  width: 600px;
  padding: 20px;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0, 1);
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 2px solid #efe1e1;
}
.fields {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.buttonClass {
  text-align: center;
  padding: 10px;
}
#myButton {
  background-color: greenyellow;
  padding: 10px 15px 10px 15px;
}
